

body{
  margin: 0 auto;
  background-image: url(/img/cloud-bg-1.jpg);
  background-size: cover;
background-attachment: fixed;
overflow-x:hidden;
}
.bg-cloud-1{
  width: auto;
  height: 100%;
}
a{
  text-decoration: none;
}
.transparency-dark-nav{
  height: 100%;
  background-color: black;
  opacity: 0.7;
}
.animate__animated.animate__fadeIn {
  --animate-duration: 3s;
}

text-gray{

color: #d4d4d4;
}
/*authorisation*/
.authorization-container{
margin-top: 5%;
  padding: 0;
}
.registration-btn:hover{
  color: white;
  transition: 2s;
}
.registration-btn{
  color: #9e9e9e;
}
/*registration*/
.registration-container{
  padding: 0;
}
.registration-div-item{
  margin-top: 10%;
}
.registration-assets{
  margin-top: 15%;
}
.transparency-dark-block{
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.7;
}

/*buckets*/
.buckets-container{
  margin-top: 5%;
}
.bucket{
  margin: 1em;
}

/*resourses*/
.title-text{
  font-size: 55px;
}
/*buckets*/
.resourses-container{
  margin-top: 5%;
}
.resourses{
  margin: 1em;
}
