<!DOCTYPE html>
<html lang="ru" dir="ltr" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <title>buckets</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="shortcut icon" href="logotype.ico" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </head>
  <body class="animate__animated animate__fadeIn">
    <div class="main-container">
      <nav class="navbar navbar-dark bg-dark">
        <!-- Navbar content -->
        <p class="text-dark">Заглушка для шапки</p>
      </nav>

      <div class="content row">

        <div class=" col-2 transparency-dark-nav min-vh-100">
            <div class="d-flex justify-content-center mt-5">
              <img th:src="@{/img/name.png}" src="../static/img/name.png" alt="" width="80%">
            </div>
            <div class="p-4">
              <ul class="nav d-flex flex-column ">

                <li class="nav-item mt-3">
                  <a href="" class="text-light nav-link"><h3> Главная</h3></a>
                </li>
                <li class="nav-item mt-3 " >
                  <a href="" class="text-light nav-link"><h3> Файлы </h3></a>
                </li>
                <li class="nav-item mt-3 ">
                  <a th:href="@{'/profile'}" class="text-light nav-link"><h3 th:href="@{'/profile'}"> Профиль </h3></a>
                </li>

              </ul>
            </div>


        </div>

        <div class="col-9">
          <div class=" buckets-container container-fluid">
            <div>
              <h1 class="text-light">Доступные папки:</h1>
            </div>
            <div class=" m-3">
              <div class=" d-inline-flex">
                <a href="" th:href="@{/buckets/add}"><h5 class="text-light  btn btn-primary">Добавить папку</h5></a>
              </div>
            <div>
              <h4>Свободно <span></span> байт из <span></span></h4>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
              </div>
            </div>

            </div>


            <div class="buckets">

              <th:block  th:each="bucket : ${buckets}">
                <div class="card bucket bg-dark">
                  <a th:href="@{'/buckets/'+ ${bucket.id} + '/resources'}" href="">
                  <div class="card-header d-flex bd-highlight">
                    <h4 th:text="${bucket.title}" class="text-light bd-highlight">Заголовок папки</h4>
                    <form action="" method="">
                     <a th:href="@{'/buckets/'+ ${bucket.id} + '/delete'}" class="ms-auto p-2 bd-highlight"><button type="button" class="btn-close btn-close-white" aria-label="Close"></button></a>
                    </form>
                  </div>
                  <div class="card-body">

                    <h6 th:text="${bucket.description}" class="card-text text-secondary">Краткое описание папки.</h6>

                  </div>
                  </a>
                </div>
              </th:block>

            </div>

            

          </div>
        </div>

      </div>
    </div>
    <style type="text/css">
    body{
      margin: 0 auto;
      background-image: url(/img/cloud-bg-1.jpg);
      background-size: cover;
    background-attachment: fixed;
    overflow-x:hidden;
    }
    .bg-cloud-1{
      width: auto;
      height: 100%;
    }
    a{
      text-decoration: none;
    }
    .transparency-dark-nav{
      height: 100%;
      background-color: black;
      opacity: 0.7;
    }
    .animate__animated.animate__fadeIn {
      --animate-duration: 3s;
    }

    /*authorisation*/
    .authorization-container{
    margin-top: 5%;
      padding: 0;
    }
    .registration-btn:hover{
      color: white;
      transition: 2s;
    }
    .registration-btn{
      color: #9e9e9e;
    }
    /*registration*/
    .registration-container{
      padding: 0;
    }
    .registration-div-item{
      margin-top: 10%;
    }
    .registration-assets{
      margin-top: 15%;
    }
    .transparency-dark-block{
      height: 100%;
      width: 100%;
      background-color: black;
      opacity: 0.7;
    }

    /*buckets*/
    .buckets-container{
      margin-top: 5%;
    }
    .bucket{
      margin: 1em;
    }

    /*resourses*/
    .title-text{
      font-size: 55px;
    }
    /*buckets*/
    .resourses-container{
      margin-top: 5%;
    }
    .resourses{
      margin: 1em;
    }
    </style>
  </body>
</html>
