<!DOCTYPE html>
<html lang="ru" dir="ltr" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

  </head>
  <body>
    <div class="main-container">
      <nav class="navbar navbar-dark bg-dark">
        <!-- Navbar content -->
        <p class="text-dark">Заглушка для шапки</p>
      </nav>
    <div class="authorization-container container-fluid bg-cloud-1">
      <div class="d-flex justify-content-center">
        <img th:src="@{/img/logotype-name.png}" src="../static/img/logotype-name.png" alt="">
      </div>
      <div class="row d-flex justify-content-center">
        <form action="/login" method="post" class="form-signin" >

            <div class=" form-item row justify-content-center">
              <div class="mb-3 col-sm-3">
                <label for="emailInput" class="form-label text-light">Email</label>
                <input name="username" type="email" class="form-control" id="emailInput"  >
              </div>
            </div>

            <div class="form-item row justify-content-center">
              <div class="mb-3 col-sm-3">
                <label for="passwordInput" class="form-label text-light">Пароль</label>
                <input type="password" name="password" class="form-control" id="passwordInput" placeholder="*********" >
              </div>
            </div>

            <div class=" form-item d-flex justify-content-center">
              <button class="btn btn-lg btn-primary btn-block " type="submit">Войти</button>
            </div>
            <div class="d-flex justify-content-center mt-2">
              <a th:href="@{/registration}"><h6 class="registration-btn">Зарегистрироваться</h6></a>
            </div>

          </form>
      </div>

    </div>

    </div>
    <style type="text/css">
    body{
      margin: 0 auto;
      background-image: url(/img/cloud-bg-1.jpg);
      background-size: cover;
    background-attachment: fixed;
    overflow-x:hidden;
    }
    .bg-cloud-1{
      width: auto;
      height: 100%;
    }
    a{
      text-decoration: none;
    }
    .transparency-dark-nav{
      height: 100%;
      background-color: black;
      opacity: 0.7;
    }
    .animate__animated.animate__fadeIn {
      --animate-duration: 3s;
    }

    /*authorisation*/
    .authorization-container{
    margin-top: 5%;
      padding: 0;
    }
    .registration-btn:hover{
      color: white;
      transition: 2s;
    }
    .registration-btn{
      color: #9e9e9e;
    }
    /*registration*/
    .registration-container{
      padding: 0;
    }
    .registration-div-item{
      margin-top: 10%;
    }
    .registration-assets{
      margin-top: 15%;
    }
    .transparency-dark-block{
      height: 100%;
      width: 100%;
      background-color: black;
      opacity: 0.7;
    }

    /*buckets*/
    .buckets-container{
      margin-top: 5%;
    }
    .bucket{
      margin: 1em;
    }

    /*resourses*/
    .title-text{
      font-size: 55px;
    }
    /*buckets*/
    .resourses-container{
      margin-top: 5%;
    }
    .resourses{
      margin: 1em;
    }
    </style>
  </body>
</html>
