<!DOCTYPE html>
<html lang="ru" dir="ltr" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<link rel="stylesheet" href="style.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

  </head>
  <body>
    <div class="main-container">
      <nav class="navbar navbar-dark bg-dark">
        <!-- Navbar content -->
        <p class="text-dark">Заглушка для шапки</p>
      </nav>
      <div class="content row">
        <div class=" col-2 transparency-dark-nav min-vh-100">
          <div class="d-flex justify-content-center mt-5">
            <img th:src="@{/img/name.png}" src="../static/img/name.png" alt="" width="80%">
          </div>
          <div class="p-4">
            <ul class="nav d-flex flex-column ">

              <li class="nav-item mt-3">
                <a href="" class="text-light nav-link"><h3> Главная</h3></a>
              </li>
              <li class="nav-item mt-3 " >
                <a href="" class="text-light nav-link"><h3> Файлы </h3></a>
              </li>
              <li class="nav-item mt-3 ">
                <a th:href="@{'/profile'}" class="text-light nav-link"><h3 th:href="@{'/profile'}"> Профиль </h3></a>
              </li>

            </ul>
          </div>
        </div>


        <div class="col-10 authorization-container container-fluid bg-cloud-1">
          <div class="d-flex justify-content-center">
            <h1 class="text-light title-text">Ваш Профиль</h1>
          </div>
          <div class="row d-flex profile-container justify-content-center">
            <form action="" method="post" class="form-signin" >

                <div class=" form-item row justify-content-center">
                  <div class="mb-3 col-12 card bg-dark">
                    <h6 class=" text-light card-header">Email адрес</h6>
                    <h3 class="text-light card-body" th:text="${user.email}"></h3>
                  </div>
                </div>

                <div class="form-item row justify-content-center">
                  <div class="mb-3 col-12 card bg-dark">
                    <h6  class="text-light card-header">Имя</h6>
                    <h3 class="text-light card-body" th:text="${user.nickname}"></h3>
                  </div>
                </div>

                <div class="form-item row justify-content-center">
                  <div class="mb-3 col-12 card bg-dark">
                    <h6  class="text-light card-header">Доступное место на диске</h6>
                    <h3 class="text-light card-body">Тут нужно вывести инфу</h3>
                  </div>
                </div>

                <div class=" form-item d-flex justify-content-center">
                  <button class="btn btn-lg btn-primary btn-block " type="submit">Редактировать профиль</button>
                </div>


              </form>
          </div>

        </div>
      </div>
    </div>
    <style type="text/css">


body{
  margin: 0 auto;
  background-image: url(/img/cloud-bg-1.jpg);
  background-size: cover;
background-attachment: fixed;
overflow-x:hidden;
}
.bg-cloud-1{
  width: auto;
  height: 100%;
}
a{
  text-decoration: none;
}
.transparency-dark-nav{
  height: 100%;
  background-color: black;
  opacity: 0.7;
}
.animate__animated.animate__fadeIn {
  --animate-duration: 3s;
}

/*authorisation*/
.authorization-container{
margin-top: 5%;
  padding: 0;
}
.registration-btn:hover{
  color: white;
  transition: 2s;
}
.registration-btn{
  color: #9e9e9e;
}
/*registration*/
.registration-container{
  padding: 0;
}
.registration-div-item{
  margin-top: 10%;
}
.registration-assets{
  margin-top: 15%;
}
.transparency-dark-block{
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.7;
}

/*buckets*/
.buckets-container{
  margin-top: 5%;
}
.bucket{
  margin: 1em;
}

/*resourses*/
.title-text{
  font-size: 55px;
}
/*buckets*/
.resourses-container{
  margin-top: 5%;
}
.resourses{
  margin: 1em;
}

/*profile*/

.profile-container{
margin-top: 5%;
  padding: 0;
}

    </style>
  </body>

</html>
