<!DOCTYPE html>
<html lang="ru" dir="ltr" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <title>resourses</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="shortcut icon" href="logotype.ico" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
  </head>
  <body class="animate__animated animate__fadeIn">
    <div class="main-container">
      <nav class="navbar navbar-dark bg-dark">
        <!-- Navbar content -->
        <p class="text-dark">Пасхалочка</p>
      </nav>

      <div class="content row">

        <div class=" col-2 transparency-dark-nav min-vh-100">
            <div class="d-flex justify-content-center mt-5">
              <img th:src="@{/img/name.png}" src="../static/img/name.png" alt="" width="80%">
            </div>
            <div class="p-4">
              <ul class="nav d-flex flex-column ">

                <li class="nav-item mt-3">
                  <a href="" class="text-light nav-link"><h3> Главная</h3></a>
                </li>
                <li class="nav-item mt-3 " >
                  <a href="" class="text-light nav-link"><h3> Файлы </h3></a>
                </li>
                <li class="nav-item mt-3 ">
                  <a href="" class="text-light nav-link"><h3> Профиль </h3></a>
                </li>

              </ul>
            </div>


        </div>

        <div class="col-9">
          <div class=" resourses-container container-fluid ">
            <h1 th:text="${bucket.title}" class="text-light title-text">Название папки</h1>
            <h5 th:text="${bucket.description}" class="text-grey " >Описание папки</h5>
            <form enctype="multipart/form-data" method="post"  class="row">
              <div class=" col-4">
                <input name="name" class="form-control" type="text" id="formFile">
              </div>
              <div class=" col-1">
                <button class="text-light  btn btn-primary"type="submit" >Загрузить</button>
              </div>
            </form>

            <form method="get">
              <div class="row d-flex justify-content-end">
                <div class="col-3">
                  <input name="search" type="text" class=" form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" >
                </div>
                <div class="col-1 ">
                    <button class="text-light  btn btn-primary" type="submit">Поиск</button><img src="" alt="">

                </div>
              </div>
            </form>

            <div class="resourses mt-4">

              <div class="row">
                <ul>
                  <th:block th:each="tt : ${resources}">
                    <li th:utext="${tt.id}">..</li>
                  </th:block>
                </ul>

                <th:block  th:each="r : ${resources}">
                  <p th:text="${r.name}"></p>
                  <div class="card bg-dark col-2" >
                    <div class="card-body ">
                      <form th:action="@{resources/} + ${r.id}" method="get">
                        <button class="btn btn-primary btn-sm"  role="button" type="submit">Скачать</button>
                      </form>
                      <form th:action="@{resources/} + ${r.id}" method="delete" >
                        <a class="btn btn-danger btn-sm" href="#" role="button">Удалить</a>
                      </form>
                    </div>
                  </div>
                </th:block>
              </div>



            </div>



          </div>
        </div>

      </div>
    </div>
    <style type="text/css">
    body{
      margin: 0 auto;
      background-image: url(/img/cloud-bg-1.jpg);
      background-size: cover;
    background-attachment: fixed;
    overflow-x:hidden;
    }
    .bg-cloud-1{
      width: auto;
      height: 100%;
    }
    a{
      text-decoration: none;
    }
    .transparency-dark-nav{
      height: 100%;
      background-color: black;
      opacity: 0.7;
    }
    .animate__animated.animate__fadeIn {
      --animate-duration: 3s;
    }

    .text-grey{
    color: #d1d1d1;
    }

    /*authorisation*/
    .authorization-container{
    margin-top: 5%;
      padding: 0;
    }
    .registration-btn:hover{
      color: white;
      transition: 2s;
    }
    .registration-btn{
      color: #9e9e9e;
    }
    /*registration*/
    .registration-container{
      padding: 0;
    }
    .registration-div-item{
      margin-top: 10%;
    }
    .registration-assets{
      margin-top: 15%;
    }
    .transparency-dark-block{
      height: 100%;
      width: 100%;
      background-color: black;
      opacity: 0.7;
    }

    /*buckets*/
    .buckets-container{
      margin-top: 5%;
    }
    .bucket{
      margin: 1em;
    }

    /*resourses*/
    .title-text{
      font-size: 55px;
    }
    /*buckets*/
    .resourses-container{
      margin-top: 5%;
    }
    .resourses{
      margin: 1em;
    }
    </style>
  </body>
</html>
